.App {
  text-align: center;
}

#navbar{
  width: 10rem;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.link{
  text-decoration: none;
  color: #000000;
  margin: 1rem 0 1rem 0;
}

.home-container{
  display: flex;
}

.main-container{
  width: 70%;
  height: 10rem;
}

.side-container{
  width: 30%;
  height: 10rem;
}

.top-section{
  width: 100%;
  display: flex;
}

.greeting-section{
  width: 100%;
  height: 10rem;
  margin: 0 0 0 15rem;
}

.dateNotif-section{
  width: 100%;
  height: 10rem;
}

.body-section{
  width: 100%;
  height: 10rem;
}

.body-container{
  margin: 0 0 0 15rem;
}

.stat-box-container{
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 5rem 0;
}

.stat-box{
  width: 15rem;
  height: 10rem;
  border-radius: 2rem;
}

.cash-status-box-container{
  display: flex;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}

.cash-status-box{
  width: 24rem;
  height: 10rem;
  border-radius: 2rem;
}

.revOverview-chart-container, .outletwise-overview-chart-container, .yearlyRev-overview-chart-container{
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border: solid 3px #dcdcdc;
  margin: 0 0 5rem 0;
}