.App {
  text-align: center;
}

#navbar{
  position: fixed;
  width: 10rem;
  height: 100%;
  border-right: solid 1px #dcdcdc;
}

.navbar-links-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 10rem 0 0 3rem;
}

.link{
  text-decoration: none;
  color: #000000;
  margin: 1rem 0 1rem 0;
}

.home-container{
  display: flex;
}

.main-container{
  width: 70%;
  height: 10rem;
}

.top-side-container{
  width: 30%;
}

.top-section{
  width: 100%;
  display: flex;
}

.greeting-section{
  width: 100%;
  height: 10rem;
  margin: 0 0 0 15rem;
}

.dateNotif-section{
  width: 100%;
  height: 10rem;
}

.body-section{
  width: 100%;
  height: 10rem;
}

.body-container{
  margin: 0 0 0 15rem;
}

.stat-box-container{
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 5rem 0;
}

.stat-box{
  width: 15rem;
  height: 10rem;
  border-radius: 2rem;
}

.cash-status-box-container{
  display: flex;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}

.cash-status-box{
  width: 24rem;
  height: 10rem;
  border-radius: 2rem;
}

.revOverview-chart-container, .outletwise-overview-chart-container, .yearlyRev-overview-chart-container{
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border: solid 3px #dcdcdc;
  margin: 0 0 5rem 0;
}

.body-side-container{
  height: 100%;
}

.survey-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0;
}

.btm-survey, .ec2-survey, .ddk-survey, .mll-survey, .vtr-survey, .jbn-survey, .orr-survey, .knr-survey, .hmu-survey{
  width: 20rem;
  height: 5rem;
  background-color: #ffffff;
  margin: 1rem 0 1rem 0;
  border: solid 3px #dcdcdc;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.survey-title{
  margin: 0 0 0 4rem;
}

.survey-shop-title{
  margin: 0 2rem 0 2rem;
}

.survey-shop-date-status{
  width: 10rem;
  margin: 0 2rem 0 2rem;
  text-align: right;
}

.sales-main-container{
  width: 100%;
}

.sales-body-container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 45rem;
  margin: 0 0 0 15rem;
}

.sales-box{
  width: 35rem;
  height: 40rem;
  border: solid 3px #dcdcdc;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sale-figures-box{
  width: 30rem;
}

.single-sale-figure-container{
  display: flex;
  justify-content: space-evenly;
  border: solid 3px #dcdcdc;
  border-radius: 2rem;
}
